.deleteButton {
  margin: 0.5rem;
  margin-right: 1.5rem;
  border-radius: var(--border-radius-primary);
  border: none;
  color: var(--text-primary);
  background-color: var(--bg-overlay-primary);
}

.ITEBlock {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.ITEBlockShow {
  opacity: 1;
}

.conditionText {
  justify-content: end;
  width: 3rem;
  margin-top: 1.5rem;
}