


/* 
--text-primary: #ccc;
--text-primary-hover: #fff;
--text-primary-disabled: #51525c;
--text-secondary: #868686;
--text-secondary-hover: #ccc;
--text-contrast: #fff;
--text-success: #61ab51;
--text-edited: #f2994a;
--bg-basic: #282a30;
--bg-overlay-primary: #404149;
--bg-overlay-primary-hover: #51525c;
--bg-overlay-primary-selected: #5b8af7;
--bg-overlay-secondary: #34353d;
--bg-overlay-secondary-hover: #51525c;
--bg-overlay-secondary-selected: #5b8af7;
--bg-component-primary: #282a30;
--bg-component-primary-hover: #51525c;
--bg-component-primary-selected: #5b8af7;
--bg-component-primary-selected-hover: #6b96f7;
--bg-component-primary-disabled: #51525c;
--bg-component-secondary: #868686;
--bg-component-secondary-hover: #51525c;
--bg-component-secondary-focused: #ccc;
--bg-component-tertiary: #404149;
--bg-component-quaternary: #34353d;
--bg-component-quaternary-hover: #51525c;
--bg-component-quaternary-selected: #404149;
--fg-basic: #282a30;
--fg-primary: #404149;
--fg-primary-focused: #5b8af7;
--fg-primary-error: #e25750;
--active: #5b8af7;
--active-hover: #6b96f7;
--active-disabled: #435888;
--accepted: #61ab51;
--accepted-hover: #71b362;
--dangerous: #e25750;
--dangerous-hover: #e46761;
--dangerous-disabled: #854040;
--contrast: #fff;
--success: #61ab51;
--success-hover: #71b362;
--success-disabled: #446a40;
--success-dark-hover: #49584f;
--success-dark: #35453b;
--success-dark-disabled: #2e3735;
--warn: #d89341;
--warn-hover: #aa702b;
--warn-disabled: #aa702b;
--error: #e25750;
--error-hover: #e46761;
--error-disabled: #854040;
--error-dark-hover: #675251;
--error-dark: #573f3e;
--error-dark-disabled: #3f3437;
--running: #5b8af7;
--intermediate: #f2c94c;
--completed: #61ab51;
} */