
.app {
  background-color: #282a30;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  color: #ccc;
  align-items: center;
  justify-content: center;
}

.appContent {
  width: 100%;
  min-height: 100vh;
}

.hBox {
  display: flex;
  flex-direction: row;
}

.vBox {
  display: flex;
  flex-direction: column;
}

.buttonVariables {
  margin-right: 0.5rem;
  height: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: green;
  background-color: rgb(52, 53, 61);
}

.button {
  margin: 0.5rem;
  height: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #ccc;
  background-color: rgb(52, 53, 61);
}
