
.app {
  background-color: #282a30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ccc;
  align-items: center;
  justify-content: center;
}

.appContent {
  min-width: 100vw;
  min-height: 100vh;
}

.hBox {
  display: flex;
  flex-direction: row;
}

.vBox {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  width: 100%;
  height: 1rem;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

.buttonVariables {
  margin-right: 0.5rem;
  height: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: green;
  background-color: rgb(52, 53, 61);
}

.button {
  margin: 0.5rem;
  height: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #ccc;
  background-color: rgb(52, 53, 61);
}

.textArea {
  resize: none;
  overflow: hidden;
  margin: 0.5rem;
  height: 3rem;
  min-height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #ccc;
  background-color: rgb(52, 53, 61);
}